<form action="/emprestimo/add/{{id}}" method="POST">
    <p>Data do Emprestimo: </p>
    <input type="text" name="data">
    <p>Nome do amigo: </p>
    <input type="text" name="amigo">
    <button type="submit">Realizar Emprestimo</button>
</form>