<form action="/usuario/add" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Login: </p>
    <input type="text" name="login">
    <p>Senha: </p>
    <input type="text" name="senha">
    <p>Email: </p>
    <input type="text" name="email">
    <p>É administrador?</p>
    <input type="radio" name="adm" value="true">Sim<br>
    <input type="radio" name="adm" value="false">Não<br>    
    <button type="submit">Cadastrar Usuário</button>
</form>