<form action="/quadrinho/add" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Edição: </p>
    <input type="text" name="edicao">
    <p>Editora: </p>
    <input type="text" name="editora">
    <p>Preco: </p>
    <input type="text" name="preco"> 
    <button type="submit">Cadastrar quadrinho</button>
</form>