<form action="/avaliacao/add/{{id}}" method="POST">
    <p>Nota: </p>
    <input type="number" name="nota">
    <p>Deseja fazer um Comentário? </p>
    <input type="text" name="comentario">
    <button type="submit">Adicionar Avaliação</button>
</form>